
<form [formGroup] = "form">
  <h1>Sign Up</h1>

  <ion-item>
    <ion-label position = "floating">Name</ion-label>
    <ion-input type = "text"placeholder="Enter your name" formControlName = "name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating">Last name</ion-label>
    <ion-input type = "text" placeholder="Enter your Last name" formControlName = "lastname"></ion-input>
    
  </ion-item>

  <ion-item>
    <ion-label position = "floating">Username</ion-label>
    <ion-input type = "text" placeholder="Enter your username" formControlName = "username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating">Email</ion-label>
    <ion-input type = "text" placeholder="Enter your email" formControlName = "email" ></ion-input>

  </ion-item>

  <ion-item>
    <ion-label position = "floating">Phone number</ion-label>
    <ion-input type = "number" placeholder="Enter your phone number" formControlName = "phoneNumber"></ion-input>

  </ion-item>

  <ion-item>
    <ion-label position = "floating">password</ion-label>
    <ion-input type = "password" placeholder="Enter your name" formControlName = "password"></ion-input>

  </ion-item>

  <ion-button expand = "block" type = "submit" [disabled] = "form.invalid" (click) = "signUp()">sign Up</ion-button>
</form>