<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      SignUp
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
              Sign Up
            </ion-card-title>
            <ion-card-subtitle>
              Create Your account by filling up the form
              </ion-card-subtitle>
        </ion-card-header>
             <form [formGroup]="ValidationFormDriver" (ngSubmit)="registerUser()">
       <ion-card-content>
           <ion-item>
               <ion-input type="text" placeholder="Name" formControlName="name">
                <ion-icon name="people-circle-outline"></ion-icon>
               </ion-input>
           </ion-item>
              <div>
                <ng-container *ngFor="let validation of validationMessages.name">

                  <div class="error_message" *ngIf="ValidationFormDriver.get('name').hasError(validation.type) && (ValidationFormDriver.get('name').dirty || ValidationFormDriver.get('name').touched)">
                      {{validation.message}}
                  </div>

                 </ng-container>

              </div>
              <ion-item>
                <ion-input  type="text" placeholder="LastName" formControlName="lastname">
                  <ion-icon name="person-outline"  ></ion-icon>
                </ion-input>
            </ion-item>
               <div>
                 <ng-container *ngFor="let validation of validationMessages.lastname">
 
                   <div class="error_message" *ngIf="ValidationFormDriver.get('lastname').hasError(validation.type) && (ValidationFormDriver.get('lastname').dirty || ValidationFormDriver.get('lastname').touched)">
                       {{validation.message}}
                   </div>
 
                  </ng-container>
 
               </div>
               <ion-item>
                <ion-input  type="text" placeholder="Username" formControlName="username">
                  <ion-icon name="person-circle-outline"></ion-icon>
                </ion-input>
            </ion-item>
               <div>
                 <ng-container *ngFor="let validation of validationMessages.username">
 
                   <div class="error_message" *ngIf="ValidationFormDriver.get('username').hasError(validation.type) && (ValidationFormDriver.get('username').dirty || ValidationFormDriver.get('username').touched)">
                       {{validation.message}}
                   </div>
 
                  </ng-container>
 
               </div>
           <ion-item>
               <ion-input  type="text" placeholder="Phone No." formControlName="phone">
                 <ion-icon name="call-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           <div>
             <ng-container *ngFor="let validation of validationMessages.phone">

               <div class="error_message" *ngIf="ValidationFormDriver.get('phone').hasError(validation.type) && (ValidationFormDriver.get('phone').dirty || ValidationFormDriver.get('phone').touched)">
                   {{validation.message}}
               </div>

              </ng-container>

           </div>
           <!-- <ion-item>
            <ion-input  type="text" placeholder="WorkAdress" formControlName="workadresse">
              <ion-icon name="home-outline"></ion-icon>
            </ion-input>
        </ion-item>
           <div>
             <ng-container *ngFor="let validation of validationMessages.workadresse">

               <div class="error_message" *ngIf="ValidationFormDriver.get('workadresse').hasError(validation.type) && (ValidationFormDriver.get('workadresse').dirty || ValidationFormDriver.get('workadresse').touched)">
                   {{validation.message}}
               </div>

              </ng-container>

           </div> -->
           <ion-item>
               <ion-input type="text" placeholder="Email" formControlName="email">
                 <ion-icon name="mail-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           <ng-container *ngFor="let validation of validationMessages.email">

             <div class="error_message" *ngIf="ValidationFormDriver.get('email').hasError(validation.type) && (ValidationFormDriver.get('email').dirty || ValidationFormDriver.get('email').touched)">
                 {{validation.message}}
             </div>

            </ng-container>
           <ion-item>
               <ion-input type="password" placeholder="************" formControlName="password">
                 <ion-icon name="lock-closed" ></ion-icon>
               </ion-input>
           </ion-item>
           <ng-container *ngFor="let validation of validationMessages.password">

             <div class="error_message" *ngIf="ValidationFormDriver.get('password').hasError(validation.type) && (ValidationFormDriver.get('password').dirty || ValidationFormDriver.get('password').touched)">
                 {{validation.message}}
             </div>

            </ng-container>

           <div class="sign-btn-wrap">
              <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" [disabled]="!ValidationFormDriver.valid">Sign Up</ion-button>
             </div>

             <div class="text-tag">
             <span>Sign Up with</span>
             </div>

             <div class="social-btns">
                 <ion-button fill="clear"  class="facebookbtn ion-no-padding">
               <ion-img src="assets/images/facebook.png"></ion-img>
                 </ion-button>
                 <ion-button fill="clear"  class="googlebtn ion-no-padding">
               <ion-img src="assets/images/google.png"></ion-img>
                 </ion-button>
                 <ion-button fill="clear"  class="applebtn ion-no-padding">
               <ion-img src="assets/images/apple.png"></ion-img>
                 </ion-button>

               </div>

       </ion-card-content>
        </form>
    </ion-card>

</ion-content>
